@model pfeProject2020.Models.SsmsColumn

@{
    ViewData["Title"] = "Edit";
}





<div class="content-wrapper" style="min-height: 1907.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste des Colonnes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="Home">Acceuil</a></li>
                        <li class="breadcrumb-item active">Bases de  Données</li>
                        <li class="breadcrumb-item active">Tables</li>
                        <li class="breadcrumb-item active">Colonnes</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <h2>Edit</h2>

                    <h4>SsmsColumn</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TableName" class="control-label"></label>
                                    <input asp-for="TableName" class="form-control" />
                                    <span asp-validation-for="TableName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdTab" class="control-label"></label>
                                    <select asp-for="IdTab" class="form-control" asp-items="ViewBag.IdTab"></select>
                                    <span asp-validation-for="IdTab" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }






                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>

    </section>
    <!-- /.content -->
</div>